@model DTM.DbManager.ViewModels.CharactersViewModel

@if (Model.DetailsPerso == null)
{
    <h1 class="text-center">Fiche de personnage</h1>
    <h3 class="text-center">Sélectionnez un personnage dans le tableau pour voir sa fiche complète</h3>
}
else
{
    var imagePath = "";
    if (Model?.CharacterPicture != null)
    {
        imagePath = @"/images/" + Model.CharacterPicture;
    }

    <h1 class="text-center">Fiche de personnage</h1>
    <h2 class="text-center">@Model.DetailsPerso.Charac.Nom</h2>

    <img class="center-block" src="@imagePath"/><br/>

    <table class="table">
        <tr>
            <!-- Jauge de vie -->
            <td class="form-group">
                <label asp-for="DetailsPerso.Jauges.Pv">Vie : </label>
                <select asp-for="DetailsPerso.Jauges.Pv">
                    <option selected="selected" value="none"></option>
                    @for (var i = 0; i <= 100; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>

                <label asp-for="DetailsPerso.Jauges.PvMax">/</label>
                <select asp-for="DetailsPerso.Jauges.Pv">
                    <option selected="selected" value="none"></option>
                    @for (var i = 0; i < 100; i++)
                    {
                        <option value="@(i + 1)">@(i + 1)</option>
                    }
                </select>
            </td>
            <!-- Jauge de psy -->
            <td class="form-group">
                <label asp-for="DetailsPerso.Jauges.Psy">Psy : </label>
                <select asp-for="DetailsPerso.Jauges.Psy">
                    <option selected="selected" value="none"></option>
                    @for (var i = 0; i <= 100; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>

                <label asp-for="DetailsPerso.Jauges.PsyMax">/</label>
                <select asp-for="DetailsPerso.Jauges.Psy">
                    <option selected="selected" value="none"></option>
                    @for (var i = 1; i <= 100; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </td>
            <!-- Jauge de synchro -->
            <td class="form-group">
                <label asp-for="DetailsPerso.Jauges.Synchro">Synchro : </label>
                <select asp-for="DetailsPerso.Jauges.Synchro">
                    <option selected="selected" value="none"></option>
                    @for (var i = 0; i <= 5; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>

                <label asp-for="DetailsPerso.Jauges.SynchroMax">/</label>
                <select asp-for="DetailsPerso.Jauges.Synchro">
                    <option selected="selected" value="none"></option>
                    @for (var i = 1; i <= 5; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
}