@using DTM.Core.Enums
@using DTM.Core.Extensions
@using DTM.Core.Utils
@using DTM.Core.Models
@using DTM.DbManager.Enums
@model DTM.Core.ViewModels.CharacterDetailsViewModel

<h1 class="text-center col-lg-12 col-lg-offset-1">Fiche de personnage</h1>

@if (Model?.Perso == null)
{
    <h3 class="text-center col-lg-12 col-lg-offset-1">Sélectionnez un personnage dans le tableau pour voir sa fiche complète</h3>
}
else
{
    var perso = Model.Perso;
    var caracs = Model.Perso?.Carac?.FirstOrDefault();
    var jauges = Model.Perso.Jauge?.FirstOrDefault();
    var stats = Model.Perso.Stat?.FirstOrDefault();
    var elementsPerso = Model.Perso.ElementPerso?.ToList();
    var skillsPerso = Model.Perso.SkillPerso?.ToList();
    var donsperso = Model.Perso.DonPerso?.OrderBy(ob => ob.Taux).ToList();
    var demonsPerso = Model.Perso.DemonPerso?.ToList();
    var inventaire = Model.Perso.Inventaire?.ToList();
    var metiersPerso = Model.Perso.MetierPerso?.ToList();
    var passifsPerso = Model.Perso.PassifPerso?.ToList();
    var characPic = Model.CharacterPicture ?? string.Empty;

    var dons = Model.Dons;
    var elements = Model.Elements;
    var items = Model.Items;

    <div id="detailsPersoScrolling" class="col-lg-12 col-lg-offset-1">
        <div id="detailsPerso">
            <span id="idPerso" hidden>@perso.Id</span>
            <h2 id="nomPerso" class="text-center">@perso.Nom</h2>
            <h3 id="raceperso" class="text-center">@(perso.Race)</h3>

            <img class="center-block" idPerso="characPic" src="@characPic" alt="Image de @perso.Nom"/>
            
            <br />

            <button class="btn btn-primary center-block" data-toggle="modal" data-target="#modifPic" type="button">Modifier l'image</button>

            <br/>

            <table class="table detailsTab">
                <!-- Caractéristiques -->
                <tr class="text-center">
                    <td>Lvl : @perso.Lvl</td>
                    <td>Xp : @perso.Xp</td>
                    <td>Po : @perso.Po</td>
                    <td>
                        Type :
                        @if (perso.TypePerso != null)
                        {
                            @(((CharacterTypeEnum) perso.TypePerso).ToString().ToUpper())
                        }
                    </td>
                    <td>
                        <button class="btn btn-primary center-block" data-toggle="modal" data-target="#modifCharac" type="button">Modifier</button>
                    </td>
                </tr>
            </table>


            <hr/>

            @if (jauges != null)
            {
                <table class="table table-bordered detailsTab">
                    <!-- Jauges -->
                    <tr>
                        <th class="text-center">Vie</th>
                        <th class="text-center">Psy</th>
                        <th class="text-center">Synchro</th>
                        <th></th>
                    </tr>
                    <tr class="text-center">
                        <!-- Jauge de vie -->
                        <td class="text-center">
                            @jauges.Vie / @jauges.VieMax
                        </td>
                        <!-- Jauge de psy -->
                        <td class="text-center">
                            @jauges.Psy / @jauges.PsyMax
                        </td>
                        <!-- Jauge de synchro -->
                        <td class="text-center">
                            @jauges.Sync / @jauges.SyncMax
                        </td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modifJauges" type="button">Modifier</button>
                        </td>
                    </tr>
                </table>
            }

            @if (stats != null)
            {
                <table class="table table-bordered detailsTab">
                    <!-- Stats -->
                    <tr>
                        <th class="text-center">Physique</th>
                        <th class="text-center">Mental</th>
                        <th class="text-center">Social</th>
                        <th class="text-center"></th>
                    </tr>
                    <tr class="text-center">
                        <!-- Physique -->
                        <td class="form-group">
                            @stats.Phy %
                        </td>
                        <!-- Mental -->
                        <td class="form-group">
                            @stats.Mental %
                        </td>
                        <!-- Social -->
                        <td class="form-group">
                            @stats.Social %
                        </td>
                        <td width="135px">
                            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modifStats" type="button">Modifier</button>
                        </td>
                    </tr>
                </table>

            }
            <table class="table table-bordered detailsTab">
                <tr>
                    <th>Passifs<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modifPassifs" type="button">Modifier</button></th>
                    <th>Dons<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modifDons" type="button">Modifier</button></th>
                    <th>Element<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modifElements" type="button" disabled>Modifier</button></th>
                    <th>Demons<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modifDemons" type="button" disabled>Modifier</button></th>
                    <th>Langues<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modifLangues" type="button" disabled>Modifier</button></th>
                </tr>
                <tr>
                    <td>
                        @if (caracs != null)
                        {
                            <span>Attaque : @caracs.Atk<br/></span>
                            <span>Défense : @caracs.Def<br/></span>
                            <span>Rapidité : @caracs.Rap<br/></span>
                        }
                    </td>
                    <td width="300px">
                        @foreach (var d in donsperso)
                        {
                            var description = d.Don.Description != string.Empty ? ": " + d.Don.Description : string.Empty;
                            <span>[@d.Taux%] @d.Don.Libelle @description<br/></span>
                        }
                    </td>
                    <td>
                        @if (elementsPerso != null)
                        {
                            foreach (var e in elementsPerso)
                            {
                                var description = e.Element.Description != string.Empty ? ": " + e.Element.Description : string.Empty;
                                <span>@e.Element.Libelle @description</span>
                            }
                        }
                    </td>
                    <td>
                        @if (demonsPerso != null)
                        {
                            foreach (var d in demonsPerso)
                            {
                                <span>@d.Demon.Nom</span>
                            }
                        }
                    </td>
                    <td></td>
                </tr>
            </table>

            @if (skillsPerso != null)
            {
                <table class="table table-bordered detailsTab">
                    <tr>
                        <th colspan="4" class="text-center">Skills<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modifSkills" type="button">Modifier</button></th>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Taux</th>
                        <th>Dégats</th>
                    </tr>
                    @foreach (var sk in skillsPerso)
                    {
                        <tr>
                            <td>@sk.Skill.Libelle</td>
                            <td>@sk.Skill.Description</td>
                            <td>@sk.Skill.Taux</td>
                            <td>@sk.Skill.Degats</td>
                        </tr>
                    }
                </table>
            }

            @if (perso.Inventaire != null)
            {
                <table class="table table-bordered detailsTab">
                    <tr>
                        <th colspan="6" class="text-center">Inventaire<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modifInventaire" type="button">Modifier</button></th>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Quantite</th>
                        <th>Prix</th>
                        <th>Commentaire</th>
                    </tr>


                    @foreach (var inv in inventaire)
                    {
                        <tr>
                            <td>@inv.Item.Nom</td>
                            <td>@inv.Item.Description</td>
                            <td>@(((ItemTypeEnum) inv.Item.TypeItem).ToString().ToSpacedCase())</td>
                            <td>@inv.Quantite</td>
                            @if (inv.Item.Prix == null)
                            {
                                <td>N/A</td>
                            }
                            else
                            {
                                <td>@inv.Item.Prix</td>
                            }
                            <td>@inv.Item.Commentaire</td>
                        </tr>
                    }

                </table>
            }
        </div>
    </div>

    <div id="modifPic" class="modal fade modifs" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Modification de l'image</h4>
                </div>
                <div class="modal-body">
                    <form asp-controller="Characters" asp-action="UpdatePic" method="post" enctype="multipart/form-data">
                        <!-- Image -->
                        <div>
                            <label for="picUpload">Choississez une nouvelle image (png, jpg, gif)</label>
                            <input id="picUpload" name="pic" class="center-block" type="file" />
                            <input asp-for="@perso.Id" type="hidden" />

                            <input type="button" id="btn-submit-file" value="Enregistrer" class="btn btn-primary" data-dismiss="modal"/>
                            <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="modifCharac" class="modal fade modifs" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Modification des caractéristiques</h4>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        <!-- Caractéristiques -->
                        <div class="text-center">
                            <label asp-for="@perso.Nom"></label> <input asp-for="@perso.Nom" type="text" />
                            <label asp-for="@perso.Race"></label>
                            <select asp-for="@perso.Race">
                                @foreach (var r in EnumUtil.GetValues<CharacterRaceEnum>())
                                {
                                    var race = r.ToString();
                                    if (r.ToString() != "NA")
                                    {
                                        race = r.ToString().ToKebabCase();
                                    }

                                    if (race == perso.Race)
                                    {
                                        <option selected="selected" value="@race">@race</option>
                                    }
                                    else
                                    {
                                        <option value="@race">@race</option>
                                    }
                                }
                            </select>
                        </div>

                        <br />

                        <table class="table">
                            <tr class="text-center">
                                <td>
                                    <label asp-for="@perso.Lvl"></label>
                                    <select asp-for="@perso.Lvl">
                                        @for (var i = 1; i <= 999; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <label asp-for="@perso.Xp"></label>
                                    <select asp-for="@perso.Xp">
                                        @for (var i = 0; i <= 99; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <label asp-for="@perso.Po"></label>
                                    <select asp-for="@perso.Po">
                                        @for (var i = 0; i <= 999; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <label asp-for="@perso.TypePerso">Type</label>
                                    <select asp-for="@perso.TypePerso">
                                        @foreach (var type in EnumUtil.GetValues<CharacterTypeEnum>())
                                        {
                                            if (type == (CharacterTypeEnum)perso.TypePerso)
                                            {
                                                <option value="@((int)type)" selected="selected">@type.ToString().ToUpper()</option>
                                            }
                                            else
                                            {
                                                <option value="@((int)type)">@type.ToString().ToUpper()</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <input asp-for="@perso.Id" type="hidden" />

                        <br />

                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-submit-form" data-dismiss="modal">Enregistrer</button>
                            <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="modifJauges" class="modal fade modifs" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Modification des jauges</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <table class="table table-bordered detailsTab">
                            <!-- Jauges -->
                            <tr class="text-center">
                                <!-- Jauge de vie -->
                                <td class="form-group">
                                    <label asp-for="@jauges.Vie">Vie : </label>
                                    <select asp-for="@jauges.Vie">
                                        <option selected="selected" value="none"></option>
                                        @for (var i = 0; i <= 100; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>

                                    <label asp-for="@jauges.VieMax">/</label>
                                    <select asp-for="@jauges.VieMax">
                                        <option selected="selected" value="none"></option>
                                        @for (var i = 0; i < 100; i++)
                                        {
                                            <option value="@(i + 1)">@(i + 1)</option>
                                        }
                                    </select>
                                </td>
                                <!-- Jauge de psy -->
                                <td class="form-group">
                                    <label asp-for="@jauges.Psy">Psy : </label>
                                    <select asp-for="@jauges.Psy">
                                        <option selected="selected" value="none"></option>
                                        @for (var i = 0; i <= 100; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>

                                    <label asp-for="@jauges.PsyMax">/</label>
                                    <select asp-for="@jauges.PsyMax">
                                        <option selected="selected" value="none"></option>
                                        @for (var i = 1; i <= 100; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </td>
                                <!-- Jauge de synchro -->
                                <td class="form-group">
                                    <label asp-for="@jauges.Sync">Synchro : </label>
                                    <select asp-for="@jauges.Sync">
                                        <option selected="selected" value="none"></option>
                                        @for (var i = 0; i <= 5; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>

                                    <label asp-for="@jauges.SyncMax">/</label>
                                    <select asp-for="@jauges.SyncMax">
                                        <option selected="selected" value="none"></option>
                                        @for (var i = 1; i <= 5; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <input asp-for="@jauges.Id" type="hidden" />
                        <input asp-for="@jauges.PersoId" type="hidden" />
                        <input asp-for="@perso.Id" type="hidden" />

                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-submit-form" data-dismiss="modal">Enregistrer</button>
                            <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="modifStats" class="modal fade modifs" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Modification des statistiquess</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <table class="table table-bordered detailsTab">
                            <tr>
                                <th class="text-center">Physique</th>
                                <th class="text-center">Mental</th>
                                <th class="text-center">Social</th>
                            </tr>
                            <tr class="text-center">
                                <!-- Physique -->
                                <td class="form-group">
                                    <select asp-for="@stats.Phy">
                                        <option value="none"></option>
                                        @for (var i = 0; i <= 100; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <label asp-for="@stats.Phy"> %</label>
                                </td>
                                <!-- Mental -->
                                <td class="form-group">
                                    <select asp-for="@stats.Mental">
                                        <option value="none"></option>
                                        @for (var i = 0; i <= 100; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <label asp-for="@stats.Mental"> %</label>
                                </td>
                                <!-- Social -->
                                <td class="form-group">
                                    <select asp-for="@stats.Social">
                                        <option value="none"></option>
                                        @for (var i = 0; i <= 100; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <label asp-for="@stats.Social"> %</label>
                                </td>
                            </tr>
                        </table>
                        <input asp-for="@stats.Id" type="hidden" />
                        <input asp-for="@stats.PersoId" type="hidden" />
                        <input asp-for="@perso.Id" type="hidden" />

                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-submit-form" data-dismiss="modal">Enregistrer</button>
                            <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="modifPassifs" class="modal fade modifs" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Modification des passifs</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    <label asp-for="@caracs.Atk">Attaque</label>
                                    <select asp-for="@caracs.Atk">
                                        @for (var i = 0; i <= 150; i++)
                                        {
                                            if (i == caracs.Atk)
                                            {
                                                <option selected="selected" value="@i">@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td>
                                    <label asp-for="@caracs.Def">Défense</label>
                                    <select asp-for="@caracs.Def">
                                        @for (var i = 0; i <= 50; i++)
                                        {
                                            if (i == caracs.Def)
                                            {
                                                <option selected="selected" value="@i">@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td>
                                    <label asp-for="@caracs.Rap">Rapidité</label>
                                    <select asp-for="@caracs.Rap">
                                        @for (var i = 0; i <= 50; i++)
                                        {
                                            if (i == caracs.Rap)
                                            {
                                                <option selected="selected" value="@i">@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <input asp-for="@caracs.Id" type="hidden" />
                        <input asp-for="@caracs.PersoId" type="hidden" />
                        <input asp-for="@perso.Id" type="hidden" />

                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-submit-form" data-dismiss="modal">Enregistrer</button>
                            <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="modifDons" class="modal fade modifs col-lg-12" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Modification des dons</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <table class="table table-bordered detailsTab">
                            <tr>
                                <th class="text-center">Don</th>
                                <th class="text-center">Taux</th>
                            </tr>
                        @for (var i = 0; i < donsperso.Count; i++)
                        {
                            var donIdClass = "don_" + donsperso[i].DonId;
                            <tr class="text-center">
                                <!-- Libelle -->
                                <td class="form-group">
                                    <select asp-for="@donsperso[i].Don.Libelle" class="donLibelleInput" id="@donIdClass">
                                        @foreach (var d in dons)
                                        {
                                            if (d.Libelle == donsperso[i].Don.Libelle)
                                            {
                                                <option selected="selected" value="@d.Libelle">@d.Libelle</option>
                                            }
                                            else
                                            {
                                                <option value="@d.Libelle">@d.Libelle</option>
                                            }
                                        }
                                    </select>
                                    <br />
                                    <br />
                                    <!-- Description -->
                                    <textarea style="resize:none;width:100%;" asp-for="@donsperso[i].Don.Description" type="text" class="donDescInput" @*disabled*@>@donsperso[i].Don.Description</textarea>
                                </td>
                                <!-- Taux -->
                                <td class="form-group">
                                    <select asp-for="@donsperso[i].Taux" class="donTauxInput">
                                    @switch (donsperso[i].Taux)
                                    {
                                        case 10:
                                            <option value="10" selected="selected">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            break;

                                        case 15:
                                            <option value="10">10</option>
                                            <option value="15" selected="selected">15</option>
                                            <option value="20">20</option>
                                            break;

                                        case 20:
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20" selected="selected">20</option>
                                            break;
                                    }
                                    </select>
                                
                                    <input asp-for="@donsperso[i].DonId" type="hidden"/>
                                    <input asp-for="@donsperso[i].PersoId" type="hidden"/>
                                    <input asp-for="@donsperso[i].Id" type="hidden"/>
                                    <input asp-for="@donsperso[i].Don.Id" type="hidden"/>
                                </td>
                            </tr>
                        }
                        </table>
                        <input asp-for="@perso.Id" type="hidden" />

                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-submit-form" data-dismiss="modal">Enregistrer</button>
                            <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        function loadDetails(idPerso) {
            $("#details").empty();
            $("#details").load("Characters/GetDetails?idPerso=" + idPerso);
        }

        function sleep(delay) {
            var start = new Date().getTime();
            while (new Date().getTime() < start + delay);
        }

        $(".btn-submit-form").click(function () {
            var form = $(this).parent().parent();
            var idPerso = $(document).find("#idPerso").text();
            $(".modal-backdrop").remove();
            $.ajax({
                url: "Characters/Update",
                type: "POST",
                data: form.serialize(),
                success: function () {
                    loadDetails(idPerso);
                },
                error: function (message) {
                    console.log(message);
                    alert("Une erreur est survenue à l'enregistrement des données");
                }
            });
        });

        //$(".btn-submit-dons").click(function () {
        //    var form = $(this).parent().parent();
        //    var idPerso = $(document).find("#idPerso").text();
        //    $(".modal-backdrop").remove();
        //    $.ajax({
        //        url: "Characters/PostDonsPerso",
        //        type: "POST",
        //        data: form.serialize(),
        //        success: function () {
        //            loadDetails(idPerso);
        //        },
        //        error: function (message) {
        //            console.log(message);
        //            alert("Une erreur est survenue à l'enregistrement des données");
        //        }
        //    });
        //});

        $("#btn-submit-file").click(function () {
            var fileUpload = $("#picUpload").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            var nomPerso = $(document).find("#nomPerso").text();
            var idPerso = $(document).find("#idPerso").text();
            data.append(files[0].name, files[0]);
            data.append("nomPerso", nomPerso);
            $(".modal-backdrop").remove();
            $.ajax({
                type: "POST",
                url: "/Characters/UpdatePic",
                contentType: false,
                processData: false,
                data: data,
                success: function () {
                    loadDetails(idPerso);
                },
                error: function (message) {
                    console.log(message);
                    alert("Une erreur est survenue pendant l'upload du fichier");
                }
            });
        });

        $(".donLibelleInput").change(function () {
            var libelle = $(this).val();
            var donDescInput = $(this).parent().find(".donDescInput");
            var data = new FormData();
            data.append("libelle", libelle);
            $.ajax({
                type: "POST",
                url: "/Characters/GetDonById",
                contentType: false,
                processData: false,
                data: data,
                success: function (res) {
                    donDescInput.val(res);
                },
                error: function (message) {
                    console.log(message);
                    alert("Une erreur est survenue pendant la recherche des données");
                }
            });
        });

        $(".donTauxInput").change(function() {
            var input10 = 0;
            var input15 = 0;
            var input20 = 0;
            debugger;
            $(".donTauxInput").each(function () {
                if ($(this.val() === 10)) {
                    input10 += 1;
                } else {
                    if ($(this).val() === 15) {
                        input15 += 1;
                    } else {
                        input20 += 1;
                    }
                }
            });

            var warningClass = "alert alert-warning";

            $(".donTauxInput").each(function () {
                debugger;
                if ($(this.val() === 10) && input10 !== 1) {
                    $(this).addClass(warningClass);
                } else {
                    if ($(this).val() === 15 && input15 !== 2) {
                        $(this).addClass(warningClass);
                    } else {
                        if (input20 !== 1) {
                            $(this).addClass(warningClass);
                        }
                    }
                }
            });
        });
    });
</script>