@using DTM.DbManager.ViewModels
@model DTM.DbManager.ViewModels.CharactersViewModel
@{
    ViewData["Title"] = "Gestion des personnages";
}

<h2 class="text-center">Gestion des personnages</h2>

<div id="container-left" class="pull-left">
    <h2 class="text-center">Liste des persos</h2>
    <table class="table table-hover">
        <tr>
            <th>Pseudo</th>
            <th>Xp</th>
            <th>Lvl</th>
            <th>Po</th>
            <th>Race</th>
            <th>Type</th>
        </tr>
        @foreach (var charac in Model.Characters)
        {
            <tr id="@charac.Nom">
                <td class="details">@charac.Nom</td>
                <td class="details">@charac.Xp</td>
                <td class="details">@charac.Lvl</td>
                <td class="details">@charac.Po</td>
                <td class="details">@charac.Race</td>
                <td class="details">@charac.TypePerso</td>
            </tr>
        }
    </table>
</div>
<div id="container-right" class="pull-right">
    <h1 class="text-center">Détails</h1>

    <form>
        <div class="form-group">
            <label asp-for="@Model.DetailsPerso.Charac.Nom" class="control-label">Pseudo : </label>
            <input type="text" asp-for="@Model.DetailsPerso.Charac.Nom" />
        </div>
        <div class="form-group">
            <label asp-for="DetailsPerso.Jauges.Pv" class="pull-left">Vie : </label>
            <span class="col-lg-2">
                <input type="text" asp-for="DetailsPerso.Jauges.Pv"/>
            </span>

            <label asp-for="DetailsPerso.Jauges.PvMax">/</label>
            <span>
                <input type="text" asp-for="DetailsPerso.Jauges.PvMax"/>
            </span>
        </div>
        <div class="form-group">
            <label asp-for="DetailsPerso.Jauges.Psy">Psy : </label>
            <span>
                <input type="text" asp-for="DetailsPerso.Jauges.Pv"/>
            </span>
                <label asp-for="DetailsPerso.Jauges.PvMax">/</label>
            <span>
                <input type="text" asp-for="DetailsPerso.Jauges.PsyMax" />
            </span>
        </div>
        <div class="form-group">
                <label asp-for="DetailsPerso.Jauges.Pv">Vie : </label>
                <input type="text" asp-for="DetailsPerso.Jauges.Pv" />
                <label asp-for="DetailsPerso.Jauges.PvMax">/</label>
                <input type="text" asp-for="DetailsPerso.Jauges.PvMax" />
        </div>
    </form>
</div>