@using DTM.Core.Enums
@using DTM.Core.ViewModels
@model CharactersViewModel
@{
    ViewData["Title"] = "Gestion des personnages";
}

<div id="container-left" class="pull-left">
    <h1 class="text-center">Liste des persos</h1>

    <table id="listePersos" class="table table-hover">
        <tr>
            <th>Pseudo</th>
            <th>Xp</th>
            <th>Lvl</th>
            <th>Po</th>
            <th>Race</th>
            <th>Type</th>
        </tr>
        @foreach (var charac in Model.Persos)
        {
            <tr id="@charac.Id" role="button">
                <td class="details">@charac.Nom</td>
                <td class="details">@charac.Xp</td>
                <td class="details">@charac.Lvl</td>
                <td class="details">@charac.Po</td>
                <td class="details">@charac.Race</td>
                <td class="details">
                    @if (charac.TypePerso != null)
                    {
                        @(((CharacterTypeEnum) charac.TypePerso).ToString().ToUpper())
                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="6">
                <button asp-controller="Characters" class="btn btn-primary">Créer un personnage</button>
            </td>
        </tr>
    </table>
</div>
<div id="container-right" class="pull-right">
    @{
        await Html.RenderPartialAsync("Details", new CharacterDetailsViewModel());
    }
</div>

<div id="modifDons" class="modal fade modifs col-lg-12" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Création de personnage</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-submit-form" id="btn-don" data-dismiss="modal">Enregistrer</button>
                        <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>