@using Newtonsoft.Json
@model DTM.Core.ViewModels.GedViewModel
@{
    ViewData["Title"] = "Fichiers de la GED";
}

<h2>Fichiers de la GED</h2>
@if (Model != null)
{
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#add">Ajouter un fichier</button>
    <form asp-action="RechercheGed" asp-controller="Ged" method="get" class="form-inline">
        <input type="text" name="criteres" id="GedSearch" class="form-control" placeholder="Recherche rapide (Nom de fichier, N° Affaire, Tags, ...)" aria-label="Recherche rapide">
    </form>
}
<br />
<br />
<div class="scrollable">
    <table class="table table-bordered table-hover crud-table">
        <tr>
            <th>Nom du fichier</th>
            <th>Chemin du fichier</th>
            <th>Date de création</th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var m in Model.GedDocList)
            {
                <tr>
                    <td>@m.FileName</td>
                    <td>@m.FilePath</td>
                    <td>@m.Created.ToShortDateString()</td>
                    <td>
                        <a asp-controller="Ged" asp-action="DownloadFile" asp-route-id="@m.PublicId">Télécharger</a>
                        <a asp-controller="Ged" asp-action="SuppressFile" asp-route-id="@m.PublicId">Supprimer</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>


<div id="add" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter un fichier</h4>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-controller="Ged" asp-action="AddFiles">
                    <div class="form-group">
                        <label asp-for="@Model.File">Choississez une nouvelle image (png, jpg, gif)</label>
                        <input type="file" asp-for="@Model.File"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Meta.RealDirectory">Saisissez le nom du dossier qui contiendra le fichier (à la racine par défaut)</label>
                        <input type="text" asp-for="@Model.Meta.RealDirectory" placeholder="/"/>
                    </div>

                    <button type="submit" class="btn btn-primary">Valider</button>
                    <button type="button" class="btn" data-dismiss="modal">Fermer</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>