@using System.Collections
@using DTM.Core.Extensions
@model DemonTaleManager.Web.ViewModels.CrudViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="text-center">Administration - @Model.EntityType.Name</h1>

<div class="scrollable">
    <table class="row table table-bordered table-condensed scrollable crud-table text-center">
        <tr>
            @foreach (var propertyName in Model.EntityPropertiesName)
            {
                <th class="text-center">@propertyName</th>
            }
            <th class="text-center">
                <a asp-controller="@Model.EntityType.Name" asp-action="Crud/Create" class="btn btn-primary">Créer</a>
            </th>
        </tr>
        @foreach (var propertiesValues in Model.EntitesPropertiesValues)
        {
            <tr>
                @foreach (var values in propertiesValues)
                {
                    foreach (var value in values.Value)
                    {
                        <td>@value</td>
                    }
                    <td>
                        <form asp-controller="@Model.EntityType.Name" asp-action="Delete">
                            <input type="hidden" name="id" value="@values.Key" />
                            <button onclick="return confirmAction()" class="btn btn-primary btn-sm pull-right">Supprimer</button>
                        </form>
                        <a asp-controller="@Model.EntityType.Name" asp-action="Edit" asp-route-id="@values.Key" class="btn btn-primary btn-sm pull-right">Modifier</a>
                    </td>
                }
            </tr>
        }
    </table>
</div>