@using DTM.Core.Enums
@using DTM.Core.ViewModels
@model CharactersViewModel
@{
    ViewData["Title"] = "Gestion des personnages";
}

<div id="container-left" class="pull-left">
    <h1 class="text-center">Liste des persos</h1>

    <table id="listePersos" class="table table-hover">
        <tr>
            <th>Pseudo</th>
            <th>Xp</th>
            <th>Lvl</th>
            <th>Po</th>
            <th>Race</th>
            <th>Type</th>
        </tr>
        @foreach (var charac in Model.Persos)
        {
            <tr id="@charac.Id" role="button">
                <td class="details">@charac.Nom</td>
                <td class="details">@charac.Xp</td>
                <td class="details">@charac.Lvl</td>
                <td class="details">@charac.Po</td>
                <td class="details">@charac.Race</td>
                <td class="details">
                    @if (charac.TypePerso != null)
                    {
                        @(((CharacterTypeEnum)charac.TypePerso).ToString().ToUpper())
                    }
                </td>
            </tr>
        }
    </table>
    <input type="button" value="Créer un personnage" class="btn btn-primary text-center" onclick="window.location.href='@Url.Action("Create", "Characters")'"/>
</div>
<div id="container-right" class="pull-right">
    <div id="details">
        @{
            await Html.RenderPartialAsync("Details", new CharacterDetailsViewModel());
        }
    </div>
</div>